@model dynamic

<h2>Xero Connections</h2>

<table class="table-responsive-lg">
    <tr>
        <th>Tenant Name</th>
        <th>Connection ID</th>
        <th>Tenant ID</th>
        <th>Tenant Type</th>
        <th>Updated Date</th>
        <th>Delete</th>
    </tr>
    @foreach (var connection in Model) {
        <tr>
            <td>@connection.TenantName</td>
            <td>@connection.Id</td>
            <td>@connection.TenantId</td>
            <td>@connection.TenantType</td>
            <td>@connection.UpdatedDateUtc.ToString("d/MM/yy")</td>
            <td>
                <button onclick="location.href='@Url.Action("Delete", "IdentityInfo", new { connectionId = @connection.Id })'">Delete</button>
            </td>
        </tr>
    }
</table>

<hr/>
<br/>

<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
