@model dynamic

<h2>Xero BankTransactions</h2>

<table class="table-responsive-lg">
  <tr>
    <th>Date</th>
    <th>Reference</th>
    <th>Type</th>
    <th>Total</th>
  </tr>
  @foreach (var bankTransaction in Model) {
    <tr>
      <td>@bankTransaction.Date.ToString("d/MM/yy")</td>
      <td>@bankTransaction.Reference</td>
      <td>@bankTransaction.Type</td>
      <td>@bankTransaction.Total</td>
    </tr>
  }
</table>

<hr/>
<br />

<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>