@model dynamic

<h2>Xero Invoices in the Last 7 Days</h2>

<table class="table-responsive-lg">
  <tr>
    <th>Invoice #</th>
    <th>To</th>
    <th>Date</th>
    <th>Due Date</th>
    <th>Total Due</th>
  </tr>
  @foreach (var invoice in Model) {
    <tr>
      <td>@invoice.InvoiceNumber</td>
      <td>@invoice.Contact.Name</td>
      <td>@invoice.Date.ToString("d/MM,yy")</td>
      <td>@invoice.DueDate.ToString("d/MM/yy")</td>
      <td>@invoice.Total</td>
    </tr>
  }
</table>

<hr/>
<br/>

<button onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
